*{
    margin: 0;
    padding: 0;
}

.reset-pass-body{
    height: 100vh;
    width: 100vw;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reset-pass-box{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imagebox1{
    height: 300px;
    width: 300px;
    margin: 50px;
    border-radius: 5px;
}

.forgot-password{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.forgot-password p{
    margin-bottom: 5px;
    color: #4B5563;
}

.forgot-password h1{
    margin-bottom: 15px;
}

.forgot-password form{
    display: flex;
    flex-direction: column;
    /* margin-right: ; */
   
}

.forgot-password form input{
    padding: 10px;
    border-radius: 15px;
    background-color: #F9FAFB;
    margin-top: 5px;
    border-color: #EDEEF1;
}

.forgot-password form label{
    text-align: left;
}


.email{
    display: flex;
    flex-direction: column;
    /* margin-top: 5px; */
}

.accbtn{
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(30, 71, 255);
    border-radius: 7px;
    border: none;
    color: white;
    cursor: pointer;
}
